a{
    color:azure;
}

body{
background-color: black;
color:sesashell;
flex-direction: column;
align-items: center;
justify-content: center;
font-family:Helvetica;
font-size:22px;
}

/* Navigation Bar */
nav{
    position:fixed;
    display:inline-flex;
    align-items: center;
    border-bottom: 1px solid seashell;
    top:0px;
    left:0px;
    height:69px;
    width:100%;
    background-color: black;
    margin:0px;
    z-index: 5;
}


nav ul li{
    font-size: 22px;
    color:seashell;
    font-family: helvetica;  
    margin: 10px;
}
nav ul{
    display:inline-flex;
    justify-content: flex-end;
    width:100%;
}


#logo{
    justify-content: flex-start;
    height: 50px;
    left: 10px;
    margin-left: 10px;
}

/* Mission Section */
.mission{
    background-image: url("../Image/img-mission-background.webp");
    background-repeat: no-repeat;
    background-size: cover;
    height: 700px;
    width: 1200px;
    color:white;
    margin:auto;
    margin-top: 0%;
    }

.mission div{   
    position:relative;
    top:350px;
    padding:10px;
    background-color: black;
    width:auto;
    height: auto;
    text-align:center;
}

/*Tea of The Month */

.tea_of_the_month{
text-align: center;
margin:auto;
color: seashell;
font-family: helvetica;
height:700px;
width: 1200px;
}

#teas img{
    display:block;
    margin: 10px;
    height: 200px;
    width: 300px;
}

#teas{
    display:flex;
    flex-wrap:wrap;
    justify-content: space-around;
    align-content:space-around;
}

#locations{
    background-image: url("../Image/img-locations-background.webp");
    height: 500px;
    width: 1200px;
    padding-top: 50px;
    margin: auto;
    color: seashell;
    text-align: center;
}

#locations div{
    background-color:black;
    width: 300px;
    height: auto;
    color:seashell;
    text-align: center;
    padding: 10px;
    margin: 10px;
    display: inline-block;
}

/* Footer */

address{
    color:seashell;
    height: 200px;
    text-align: center;
}

address a {
    color:azure;
}

#copyright{
    color: seashell;
    text-align: left;
    margin-left:20px;
}